{% extends "layout.html" %}

{% load static %}

{% block content %}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">📌 &nbsp; 필요한 키워드를 생성하여 주세요</h4>

    <div class="row">
        <!-- Basic -->
        <!-- Enter 입력 시 submit 제거 -->
        <form id="testForm" class="col-md-12" name="testForm" onsubmit="return false">
            {% csrf_token %}
            <div class="card mb-4">
                <h5 class="card-header" style = "color : red; text-align : center">❗️ 키워드를 반드시 입력하여 주세요!</h5>
                <div class="card-body demo-vertical-spacing demo-only-element">
                    <div class="divider">
                        <div class="divider-text">
                            <i class="fa-solid fa-feather-pointed"></i>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">키워드</label>
                        {{form.keyword}}
                    </div>
                    <div class="divider">
                        <div class="divider-text">
                            현재 생성된 키워드입니다.
                        </div>
                    </div>
                    <div class="mb-3">
                        {% if keywords %}
                            <select class="form-select" id="exampleFormControlSelect2" aria-label="Multiple select example" style="height : 500px" multiple>
                                {% for k in keywords %}
                                    <option style="text-align:center;margin-top:7px;cursor:pointer">
                                        {{k.keyword}}
                                    </option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <div class="keyword_link" style = "color : red;">
                                현재 생성된 키워드가 없습니다. 필요한 키워드를 생성하여 주세요
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
  <!-- / Content -->
{% endblock %}

{% block link %}
<div class="buy-now">
    <a style="color:white" class="btn btn-danger btn-buy-now btnAjax">키워드 등록하기</a>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    var csrftoken = getCookie('csrftoken');

    let btnAjax = document.querySelector('.btnAjax');
    
    btnAjax.addEventListener('click', e => {
        var queryString = $("form[name=testForm]").serialize() ;
        $.ajax({
            url : '/apis/keywords/',
            headers: {'X-CSRFToken': csrftoken},
            type : 'POST',
            enctype:'multipart/form-data',
            data : queryString,
            success:function(data){
                Swal.fire('Good','등록이 완료되었습니다.','success')
                setTimeout('location.href="{% url 'k-write' %}"',1000)
            },
            error: function(e){
                Swal.fire(e.responseJSON,'','error')
            }
        })
    });

    // Enter 키 허용
    document.querySelector('#testForm').addEventListener('keydown', function (e) {
        if (window.event.keyCode == 13) {
            var queryString = $("form[name=testForm]").serialize() ;
            $.ajax({
                url : '/apis/keywords/',
                headers: {'X-CSRFToken': csrftoken},
                type : 'POST',
                enctype:'multipart/form-data',
                data : queryString,
                success:function(data){
                    Swal.fire('Good','등록이 완료되었습니다.','success')
                    setTimeout('location.href="{% url 'k-write' %}"',1000)
                },
                error: function(e){
                    Swal.fire(e.responseJSON,'','error')
                }
            })
        }
    });
    
</script>
{% endblock %}