{% extends "layout.html" %}

{% load static %}

{% block statics %}
<!-- Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.js"></script>
{% endblock %}  

{% block content %}
<!-- Content -->

<div id = "vue_div" class="container-xxl flex-grow-1 container-p-y">
    <h4 v-if="[[memos]] == ''" class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">작성자 /</span> 
        작성자가 없습니다.
    </h4>
    <h4 v-else="" class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">작성자 /</span> 
        [[memos.writer.username]]
    </h4>
    <!-- Horizontal -->
    <h5 v-if="[[memos ? memos.keywords:'없음']] == ''" class="pb-1 mb-4">
        <span class="text-muted fw-light">키워드 /</span>
        작성된 키워드가 없습니다.
    </h5>
    <h5 v-else="" class="pb-1 mb-4" >
        <span class="text-muted fw-light">키워드 /</span>
        <div v-for="m in memos ? memos.keywords:'없음'" style="display:inline-block; color : green;">
            # [[m]] &nbsp;
        </div>
    </h5>
    
    <div class="row">
        <div class="col-lg-12 mb-4 order-0">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-2" >
                        <div v-if="[[memos ? memos.img:'']] == ''" >
                            <img  class="card-img-top" src="{% static 'assets/interface.png' %}" alt="Card image cap" style="height:300px;" />
                        </div>
                        <div v-else=""> 
                            <img class="card-img-top" :src="[[memos.img]]" alt="Card image cap" style="height:250px;" />
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h3 v-if="[[memos ? memos.title:'']] == ''" style="text-align:center" class="card-title">
                                등록되지 않은 메모
                            </h3>
                            <h3 v-else="" style="text-align:center" class="card-title">
                                [[memos ? memos.title:'']]
                            </h3>
                            <div class="divider">
                                <div class="divider-text">
                                    Text
                                </div>
                            </div>
                            <br/><br/>
                            <p v-if="[[memos ? memos.content:'']] == ''" class="card-text"
                                style="font-size:22px; text-align:center; color : red">
                                올바르지 않은 경로 입니다.<br/>
                                다시 설정하여 주세요!
                            </p>
                            <pre v-else="" style="font-size:22px"class="card-text">
[[memos ? memos.content:'']]
                            </pre>
                            <br/><br/>
                            <div class="divider">
                                <div class="divider-text">
                                    <i class="fa-solid fa-feather-pointed"></i>
                                </div>
                            </div>
                            <p v-if="[[memos ? memos.created_at:'']] == ''" class="card-text"></p>
                            <p v-else="" class="card-text">
                                등록일 : [[memos ? memos.created_at.substr(0, 10):'']]
                            </p>
                            <p v-if="[[memos ? memos.created_at:'']] == ''" class="card-text"></p>
                            <p v-else="" class="card-text">
                                ❤️ : [[memos ? memos.like:'']]
                            </p>
                            <div v-if="[[memos]] == ''" class="btnAjax" 
                                style="cursor:pointer;font-size:33px;text-align:center; color:skyblue">
                                메모 리스트 이동하기
                            </div>
                            <div v-else="" class="btnAjax" 
                                style="cursor:pointer;font-size:33px;text-align:right">
                                ❤️ 좋아요 ❤️
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <!--/ Horizontal -->
</div>
<!-- / Content -->
{% endblock %}

{% block link %}
<form id='frm' action="/memo/rewrite" method="POST">
    {% csrf_token %}    
    <input type="hidden" name="id" value="{{memo_id}}">
</form>
<div class="buy-now">
    <a herf="#" class="btn btn-danger btn-buy-now" style="color:white; margin-right : 120px"
        onclick="javascript:document.getElementById('frm').submit();">
        메모 수정하기
    </a>
</div>

<div class="buy-now">
    <a style="color:white;" class="btn btn-danger btn-buy-now btnAjax2">메모 삭제</a>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    let vm = new Vue({
        delimiters: ['[[', ']]'],
        el: '#vue_div',
        data: {
            memos: null
        },
        mounted() {
            this.getList();
        },
        methods: {
            getList: function () {
                $("#vue_div").LoadingOverlay("show");
                
                axios.get(`/apis/memos/{{memo_id}}/`,
                ).then(function (response) {
                    vm.memos = response.data;
                }).catch(function (e) {
                }).finally(function () {
                    
                });
                $("#vue_div").LoadingOverlay("hide");
            }
        }
    })

    let btnAjax = document.querySelector('.btnAjax');

    btnAjax.addEventListener('click', e => {
        $.ajax({
            url : '/apis/memos/{{memo_id}}/add_click/',
            type : 'GET',
            success:function(data){
                Swal.fire('좋아요!','좋은 의견 감사합니다.','success')
                setTimeout('location.reload();',500)
            },
            error: function(e){
                Swal.fire('올바르지 않은 경로입니다.',e,'error')
                location.href="{% url 'm-list' %}"
            }
        })
    });
    
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    var csrftoken = getCookie('csrftoken');

    let btnAjax2 = document.querySelector('.btnAjax2');
    
    btnAjax2.addEventListener('click', e => {
        Swal.fire({
            title: '정말로 삭제하실건가요?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: '예',
            denyButtonText: `아니요`,
        }).then((result) =>{
            if (result.isConfirmed) {
                $.ajax({
                    url : '/apis/memos/{{memo_id}}/',
                    headers: {'X-CSRFToken': csrftoken},
                    type : 'DELETE',
                    success:function(data){
                        Swal.fire('ㅠㅠ','삭제가 완료되었습니다.','success')
                        setTimeout('location.href="{% url 'm-list' %}"',1000)
                    },
                    error: function(e){
                        Swal.fire('실패',e,'error')
                    }
                })
            } else if (result.isDenied) {
                Swal.fire('좋은 선택입니다!', '', 'info')
            }
        })
        
    });
    
</script>
{% endblock %}