{% load static %}

<nav class="main-menu">
    <br/>
    <ul>
        <li>
            <a href="{% url 'index' %}">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    메인 화면
                </span>
            </a>
            
        </li>
        {% comment %} <li class="has-subnav">
            <a href="#">
                <i class="fa fa-globe fa-2x"></i>
                <span class="nav-text">
                    Global Surveyors
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-comments fa-2x"></i>
                <span class="nav-text">
                    Group Hub Forums
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-camera-retro fa-2x"></i>
                <span class="nav-text">
                    Survey Photos
                </span>
            </a>
            
        </li>
        <li>
            <a href="#">
                <i class="fa fa-film fa-2x"></i>
                <span class="nav-text">
                    Surveying Tutorials
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-book fa-2x"></i>
                <span class="nav-text">
                    Surveying Jobs
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-cogs fa-2x"></i>
                <span class="nav-text">
                    Tools & Resources
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-map-marker fa-2x"></i>
                <span class="nav-text">
                    Member Map
                </span>
            </a>
        </li> {% endcomment %}
        <li>
            <a href="{% url 'login' %}">
                <i class="fa fa-regular fa-user fa-2x"></i>
                <span class="nav-text">
                    로그인 하기
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="#">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    로그 아웃
                </span>
            </a>
        </li>  
    </ul>
</nav>