{% load static %}
<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="{% url 'index'%}" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img src="{% static 'assets/main.png' %}" alt="" width="100px" height="60px">
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2"> 블로그</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="fa-solid fa-angle-left align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li id="sidebar_main" class="menu-item">
            <a href="{% url 'index'%}" class="menu-link">
                <i class="menu-icon tf-icons fa-solid fa-house-user"></i>
                <div>대시보드</div>
            </a>
        </li>

        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Pages</span>
        </li>

        <!-- Memos -->
        <li id="sidebar_memo" class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons fa-solid fa-file-pen"></i>
                <div>메모</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="{% url 'm-write' %}" class="menu-link">
                        <div>메모 작성하기</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">
                        <div>메모 확인하기</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Memos -->
        <li id="sidebar_label" class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons fa-solid fa-tag"></i>
                <div> 키워드 </div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="{% url 'l-write' %}" class="menu-link">
                        <div>키워드 생성하기</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">
                        <div>키워드 확인하기</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Next</span></li>
    </ul>
</aside>
<!-- / Menu -->